<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="/uv/uv.css">
   <script src="/uv/lib/offline.js"></script>
   <script src="/uv/helpers.js"></script>
   <title>Curio</title>
</head>

<body style="padding:0; margin:0; background: black;">
   <div class="toolbar" style="background:#212121; padding:5px; position:absolute; z-index:100">
      <span id="page-pids" style="display:none" data-pids="{{.PagePIDs}}"></span>
      <span style="cursor: pointer;" onclick="downloadClicked()">
         <i class="fas fa-download" style="color:white;font-size: 1.5em;"></i>
         <span style="font-size:0.9em; padding-left: 5px;color:white;">Download image</span>
      </span>
    </div>
    <div id="uv" class="uv" style="position: absolute; top: 0px; right: 0; bottom: 0; left: 0;" >
    </div>

    <script>
      function downloadClicked() {
         var pidEle = document.getElementById("page-pids");
         var pids = pidEle.dataset.pids.split(",");
         var url = '{{.RightsURI}}/';
         let tgt = document.getElementsByClassName("thumb selected")[0];
         var tgtPID = ""
         if ( tgt ) {
            let id = parseInt(tgt.id.replace(/thumb/, ""), 10);
            tgtPID = pids[id];
         } else {
            tgtPID = pids[0];
         }

         url = url + tgtPID
         var link = document.createElement('a')
         link.href = url+"?download=1"
         link.download = tgtPID+'.jpeg'
         console.log(link)
         document.body.appendChild(link);
         link.click();
         document.body.removeChild(link);
      }

      window.addEventListener('uvLoaded', function (e) {
         var sp = {{.StartPage}};
         createUV('#uv', {
            root: "../uv",
               embedded: true,
               configUri: '/public/uv.json',
               canvasIndex: sp,
               iiifResourceUri: '{{.IIIFURI}}',
               locales: [{name: 'en-GB'}]
            }, new UV.URLDataProvider(true));
      }, false);
    </script>

    <script src="/uv/uv.js"></script>
</body>

</html>
